body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f1f1f1;
}

.container {
  position: relative;
  perspective: 800px;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg) scale(1);
  cursor: grab;
}

.side {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid gray;
  line-height: 200px;
  font-size: 16px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.front {
  transform: translateZ(100px);
}

.back {
  transform: rotateY(180deg) translateZ(100px);
}

.right {
  transform: rotateY(90deg) translateZ(100px);
}

.left {
  transform: rotateY(-90deg) translateZ(100px);
}

.top {
  transform: rotateX(90deg) translateZ(100px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

#cube:hover {
  cursor: grabbing;
}

#random-gibberish {
  animation: gibberishAnimation 0.3s infinite alternate;
}

@keyframes gibberishAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

#random-gibberish:hover {
  animation: none;
}
